31. WSDL Creation/src/resources/CustomerOrders.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://academicprogrammer.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="CustomerOrdersService" targetNamespace="http://academicprogrammer.com">
    <wsdl:types>
        <xsd:schema targetNamespace="http://academicprogrammer.com">
            <xsd:complexType name="product">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="description" type="xsd:string"/>
                    <xsd:element name="quantity" type="xsd:integer"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="order">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:integer"/>
                    <xsd:element name="product" type="tns:product" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="getOrdersRequest">
                <xsd:sequence>
                    <xsd:element name="customerId" type="xsd:integer"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getOrdersResponse">
                <xsd:sequence>
                    <xsd:element name="order" type="tns:order" maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="createOrdersRequest">
                <xsd:sequence>
                    <xsd:element name="customerId" type="xsd:integer"/>
                    <xsd:element name="order" type="tns:order"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="createOrdersResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>
</wsdl:definitions>